player-connection-mode=Listen
player-connection-guid=731335060
player-connection-debug=0
player-connection-project-name=testttt
player-connection-ip=169.254.237.30
player-connection-ip=169.254.173.124
player-connection-ip=192.168.1.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
